.pomo-app {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: #faebd7;
}



.pomo-container {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  min-width: 350px;
  max-width: 720px;
  margin-top: 50px;
}

.pomo-tool-box {
  width: 80%;
  border-radius: 5px;
  margin-top: 50px;
  background-color: #64150d;
}


.pomo-stats-box {
  margin-top: 15px;
}

.pomo-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
  margin-bottom: 50px;
}

.pomo-logo-container span{
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family:cursive;
  color: #615957;

}